@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #484a47;
    font-family: "Playfair Display";
    color: #cecbbf;
    flex-wrap: wrap;
    font-size: 1vw;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    flex-wrap: wrap;
}

.small-logo {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
}

.big-logo {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.navigation {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 8px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #cecbbf;
    font-family: "Playfair Display";
}

.hero {
    flex: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    background-color: #5c6d70;
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px;
    border: sold blue;
}

.hero-header {
    color: #cecbbf;
    font-style: italic;
}

.hero-text {
    color: #cecbbf;
}

.jump-scheduler-button {
    text-align: center;
    font-weight: bold;
    background-color: #cecbbf;
    color: #b1740f;
    border: none;
    border-radius: 20px;
}

.hero-right {
    flex: 2;
    min-height: 300px;
}

.portfolio-container {
    flex: 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    max-height: 200px;
    max-width: 200px;
    text-align: center;
    border: solid #cecbbf;
}

.portfolio-card-text {
    margin: 8px;
}

.quote-container {
    flex: 10;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #5c6d70;
    flex-wrap: wrap;
}

.quote-body {
    text-align: center;
}

.quote-attribution {
    text-align: center;
    font-style: italic;
}

.scheduler-container {
    flex: 10;
    display: flex;
    padding: 8px;
    flex-wrap: wrap;
}

.scheduler-text {
    flex: 1;
}

.calendar {
    flex: auto;
    text-align: center;
    border: solid #cecbbf;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px;
}

input {
    background-color: #cecbbf;
    color:#b1740f;
}

#tell-me-input {
    max-height: 100px;
}

.submit-button {
    flex: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    background-color: #cecbbf;
    color: #b1740f;
    border: none;
    border-radius: 20px;
}

.footer {
    flex: 1;
    padding: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #5c6d70;
    margin-top: auto;
}