/* General */

@font-face {
    font-family: "Merriweather";
    src: url(fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf) format("opentype");
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: aqua;

  --font-family: "Merriweather";
  line-height: 1.6;
}

body {
    margin: 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: var(--font-family);
}

img {
    display: block;
    max-width: 100%;

    font-style: italic;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    max-width: 1170px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    max-height: 10vh;

    border: 5px dashed purple;
}

.header img {
    object-fit: contain;
}

.nav {
    flex: 1;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    background: none;
    border: none;
    padding-inline: 1rem;
}

.hamburger span {
    display: block;
    transition: 0.4s;
    background-color: var(--primary-color);

    width: 3rem;
    height: 0.5rem;
}

.menu {
    display: none;
    background-color: var(--secondary-color);
    z-index: 1;
    max-width: 100%;
}

.menu a {
    display: block;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding-inline: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}

.menu a:hover,
.menu a:focus-visible {
    text-decoration: underline;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    max-width: 100%;
    max-height: 30vh;
    padding-left: 1rem;

    border: 5px dotted red;
}

.action-call {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;
}

.action-call h1 {
    max-width: 60ch;
}

.action-call a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-size: 2rem;
}

.action-call a:hover,
.action-call a:focus-visible {
    background-color: lightblue;
}

.hero video {
    flex: 2;
    max-width: 100%;

    object-fit: contain;
}

/* Trusted By */

.trusted-by {
    display: grid;
    grid-template-columns: minmax(autofit, 250px);
}

/* Services */

/* Portfolio */

/* Schedule */

/* Footer */