@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #484a47;
    font-family: "Playfair Display";
    color: #cecbbf;
    font-size: 1em;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .header {
        height: 50vh;
    }

    .hero {
    height: 100vh;
    } 

    .portfolio-container {
    height: 100vh;
    }

    .quote-container {
    height: 100vh;
    }

    .scheduler-container {
    height: 100vh;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 1em;
}

.hero {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5c6d70;
}

.portfolio-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.quote-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c6d70;
    flex-wrap: wrap;
    flex-direction: column;
}

.scheduler-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #5c6d70;
}

.small-logo {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    margin-right: 2em;
}

.big-logo {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
}

.navigation {
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    list-style-type: none;
}

li {
    flex: 1;
}

a {
    text-decoration: none;
    color: #cecbbf;
    font-family: "Playfair Display";
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.hero-header {
    color: #cecbbf;
    font-style: italic;
    font-size: 3.2vw;
}

.hero-text {
    color: #cecbbf;
}

.jump-scheduler-button {
    text-align: center;
    font-weight: bold;
    background-color: #cecbbf;
    color: #b1740f;
    border: none;
    border-radius: 20em;
    font-family: "Playfair-Display";
    font-size: 3vh;
    width: 100%;
}

.hero-right {
    flex: 2;
    border: none;
    height: 95%;
}

.portfolio-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    max-height: 300px;
    max-width: 300px;
    text-align: center;
    border: solid #cecbbf;
}

.portfolio-card-text {
    margin: 1em;
}

.quote-body {
    flex: 3;
    text-align: center;
    border: solid purple;
}

.quote-attribution {
    flex: 1;
    text-align: center;
    font-style: italic;
}

.scheduler-text {
    flex: 1;
    margin: 1em;
}

.calendar {
    flex: 1;
    text-align: center;
    border: solid #cecbbf;
    margin: 1em;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

input {
    background-color: #cecbbf;
    color:#b1740f;
    font-family: "Playfair-Display";
    font-size: 1em;
}

textarea {
    flex: 4;
    background-color: #cecbbf;
    color:#b1740f;
    font-family: "Playfair-Display";
    font-size: 1em;
    border-radius: 5px;
}

.submit-button {
    flex: 1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #cecbbf;
    color: #b1740f;
    border: none;
    border-radius: 20em;
    font-family: "Playfair-Display";
    font-size: 1em;
}